/* Basic Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  background: #fffd; /* Light grey background for overall app */
}

.app-container {
  text-align: center;
  color: #333;
}

.app-header {
  width: 100%;
  background: #fffd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 50px;
  background: #fff; 
  border-bottom: #7c8c65 3px solid; 
  position: fixed;
  width: 100%;
}


.nav-left {
  display: flex;
  align-items: center; 
}


.logo {
  height: 50px; /* Adjust size as necessary */
  margin-right: 20px; /* Provides spacing between logo and nav links */
}

.nav-links{
  display: flex;
  size: 500px; /* Adjust size as necessary */
}

.nav-links a {
  margin-right: 15px; /* Spacing between each link */
  text-decoration: none;
  font-size: 150%; /* Adjust size as necessary */
  color: #333; /* Link color */
}

.nav-links a.active {
  color: #7c8c65; /* Active link color */
}

.auth-buttons {
  display: flex;
}

.auth-buttons button {
  margin-left: 10px; /* Spacing between buttons */
  padding: 10px 20px;
  background-color: #ffffff;
  color: #7c8c65;
  border: 2px solid #7c8c65;
  box-shadow: inset 0 0 0 0 #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 100%; /* Adjust size as necessary */
}

.auth-buttons button:hover {
  background-color: darken(#7c8c65, 10%); /* Darker on hover */
}
.main-content {
  padding: 20px;
}

.signup-btn {
  background-color: #7c8c65;
  color: #fffd;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}

/* Hover effects for buttons */
.auth-buttons button:hover, .signup-btn:hover {
  background-color: darken(#7c8c65, 10%);
}
